# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Swap files
*.swo

# C extensions
*.so

# Environments
.env
.venv
.env.bak
.venv.bak
env/
venv/
env.bak/
venv.bak/
ENV/

#Node/JS
node_modules

.DS_store 

# Private
private
